<div class="container-fluid">
<div class="row" id="edit">
      <div class="col-md-12 edit"><%= form_for(@user) do |f| %>

  <div class="field">
    
   First Name<%= f.text_field :first_name %><br>
   Last Name<%= f.text_field :last_name %><br>
   Biography <%= f.text_field :bio_text %><br>
   Avatar <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit "Update My Simply!" %>
  </div>
  <% end %>
</div>
</div>
</div>