
<section id="home" class="row-fluid">
      <div class="dots">
        <article>
          <div id="welcome"></div>
          Welcome to DataLus!

          <div class="row" >

      <div class=" col-md-4 col-md-offset-4">
      <%= bootstrap_form_for(@user) do |f| %><br />
   <%= f.text_field :email, hide_label: true,  placeholder: "e-mail" %>
   <%= f.text_field :first_name, hide_label: true, placeholder: "First Name"  %>
   <%= f.text_field :last_name, hide_label: true, placeholder: "Last Name"  %>
   <%= f.primary "Make My DataLus!" %>
    <!-- Trigger email sent for new user -->
  </div>
  <% end %>
   </div>
        </article>
      </div>

</section>









