
<div class="row-fluid">
 
  <div id="welcome">
    <h1>simply.me</h1>
  </div>
    <%=image_tag("Piercycle.jpg", width: '100%')%>
    <div class="col-md-6 col-md-offset-3">
        <%= @user.email %><br />
        <%= @user.id %><br />
        <%= @user.first_name %><br />
        <%= @user.last_name %><br />
        <%= @user.bio_text %><br />
        <%= image_tag @user.avatar.url(:thumb) %>

<%= link_to "Upload photo", new_user_photo_path(@user) %>


Photo time!
            <% @user.photos.each do |p| %>
                <%= image_tag p.image.url(:medium) %><br />
                <br />  
          
            <% end %>
      </div>
 <%= render partial: 'layouts/map'%>           
      

</div>
  

      
  




